body {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background:  hsl(212, 45%, 89%)
}

*,*::before, *::after {
    box-sizing: border-box;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.para-one {
    color: hsl(218, 44%, 22%);
    font-weight: 700;

}

.para-two {
    color:hsl(220, 15%, 55%);
    font-weight: 400;
}

@media screen and (max-width: 375px){
    img {
        width: 100%;
        border-radius: 7px;
    }

    .container {
        background: white;
        margin: 10% auto;
        text-align: center;
        padding: 15px;
        border-radius: 15px;
        width: 300px;

    }

}

@media screen and (max-width: 1440px) {
    img {
        width: 100%;
        border-radius: 7px;
    }

    .container {
        width: 200px;
        margin: 11% auto;
        background: white;
        padding: 16px;
        text-align: center;
        width: 244px;
        border-radius: 15px;
    }

}