body {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

*,*::before, *::after {
    box-sizing: border-box;
}

@media (max-width: 1440) {
    
}

@media (min-width: 375px) {
    img {
        width: 50%;
    }
}