body {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

*,*::before, *::after {
    box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
    .container {
       margin: auto;
       width: 50%;
       
    }
}

@media (min-width: 375px) {
    img {
        width: 100%;
    }

    .container
}